body{
    background-color: #3f3160;
    ;
}
.App{
    
    width: 600px;
    margin: 30px auto;
}
#to-do-form{
    display: flex;
    justify-items: baseline;
}
#to-do-form input{
background-color: rgb(27,112,137);
border: 0;
width: 600px;
height: 55px;
padding: 0 20px;
margin: 20px;
font-size: 18px;
border-radius: 10px;
color: white;
}
#to-do-form input::placeholder{
    color: rgb(255,255,255,0.5);
}
#to-do-form input:focus,#to-do-form button:focus{
    outline: none;
}
#to-do-form button{
    height: 50px;
    width: 100px;
    border-radius: 10px ;
    border: 0;
    background-color: rgb(202,156,24); 
    cursor: pointer;
    font-weight: bolder;
    color: white;
    margin:25px;
}
.listitems{
  color:white;
  width: 700px;
 
  margin: 20px auto;
  border-radius: 5px;
}
.item {
margin-bottom: 20px;
padding: 10px;
background-color: #bf07ac;
}
h1{
    color: white;
    padding-left: 4em;
}
h2{
    color: white;
}
.elements p{
    position: relative;
}
.elements p span{
    position: absolute;
   right: 10px;
}
i{
    font-size: 20px;
}